node_modules
src/config/jsons
.codegpt/head
.codegpt
dist
src/config/token_id.txt
.env
dist/images
public/
src/test-sendgrid.js
src/config/token_id.txt
query_verificacion.sql
src/config/token_id.txt
