node_modules/
src/config/database.json
src/config/api-credentials.json
src/config/ddbb_produccion.json
src/config/sgMailConfig.json

.codegpt
src/config/config.json
src/config/smsConfig.json
src/config/twilio.json
